In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from tqdm import tqdm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder

In [3]:
train_dataframe = pd.read_csv("data/train.csv")

In [6]:
#dataset is not balanced, so for the evaluation our focus will be on F1 Score

depression_percentages = train_dataframe['Depression'].value_counts(normalize=True) * 100

print(f"Percentage of 'Depression' = 0: {depression_percentages.get(0, 0):.2f}%")
print(f"Percentage of 'Depression' = 1: {depression_percentages.get(1, 0):.2f}%")

Percentage of 'Depression' = 0: 81.83%
Percentage of 'Depression' = 1: 18.17%

# First Analysis

In [67]:
train_dataframe

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [68]:
train_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Name                                   140700 non-null  object
 2   Gender                                 140700 non-null  object
 3   Age                                    140700 non-null  float64
 4   City                                   140700 non-null  object
 5   Working Professional or Student        140700 non-null  object
 6   Profession                             104070 non-null  object
 7   Academic Pressure                      27897 non-null   float64
 8   Work Pressure                          112782 non-null  float64
 9   CGPA                                   27898 non-null   float64
 10  Study Satisfaction                     27897 non-null   float64
 11  Job Satisfaction                       112790 non-null  float64
 12  Sleep Duration                         140700 non-null  object
 13  Dietary Habits                         140696 non-null  object
 14  Degree                                 140698 non-null  object
 15  Have you ever had suicidal thoughts ?  140700 non-null  object
 16  Work/Study Hours                       140700 non-null  float64
 17  Financial Stress                       140696 non-null  float64
 18  Family History of Mental Illness       140700 non-null  object
 19  Depression                             140700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 21.5+ MB

In [69]:
#How many missing values are there?

total_rows = len(train_dataframe)
missing_percentage = (train_dataframe.isnull().sum() / total_rows) * 100
print(missing_percentage.round(5))

id                                        0.00000
Name                                      0.00000
Gender                                    0.00000
Age                                       0.00000
City                                      0.00000
Working Professional or Student           0.00000
Profession                               26.03412
Academic Pressure                        80.17271
Work Pressure                            19.84222
CGPA                                     80.17200
Study Satisfaction                       80.17271
Job Satisfaction                         19.83653
Sleep Duration                            0.00000
Dietary Habits                            0.00284
Degree                                    0.00142
Have you ever had suicidal thoughts ?     0.00000
Work/Study Hours                          0.00000
Financial Stress                          0.00284
Family History of Mental Illness          0.00000
Depression                                0.00000
dtype: float64

In [70]:
# Checking the number of null values ​​in specific columns
print(train_dataframe.isnull().sum())

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36630
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [72]:
# workers have 'Working Professional or Student' == 'Working Professional'
workers_df = train_dataframe[train_dataframe['Working Professional or Student'] == 'Working Professional']
#there are employed and unemployed workers, this can be detected from the 'Profession' column, which is empty for unemployed workers
unemployed_df = workers_df[workers_df['Profession'].isnull()]
employed_df = workers_df[workers_df['Profession'].notnull()]

#printing statistics
total_workers = len(workers_df)
total_employed = len(employed_df)
total_unemployed = len(unemployed_df)

employed_percentage = (total_employed / total_workers) * 100
unemployed_percentage = (total_unemployed / total_workers) * 100
workers_percentage = (total_workers / total_rows) * 100

print("Persentage of workers (considering the whole train set):", round(workers_percentage, 2), "%")
print("Percentage of employed workers (considering total workers):", round(employed_percentage, 2), "%")
print("Percentage of unemployed workers (considering total workers):", round(unemployed_percentage, 2), "%")

Persentage of workers (considering the whole train set): 80.17 %
Percentage of employed workers (considering total workers): 92.23 %
Percentage of unemployed workers (considering total workers): 7.77 %

In [73]:
#students have 'Working Professional or Student' == 'Student'
students_df = train_dataframe[train_dataframe['Working Professional or Student'] == 'Student']

#there are employed and unemployed students, this can be detected from the 'Profession' column, which is empty for unemployed students
unemployed_students_df = students_df[students_df['Profession'].isnull()]
employed_students_df = students_df[students_df['Profession'].notnull()]

#printing statistics
total_students = len(students_df)
total_employed_students = len(employed_students_df)
total_unemployed_students = len(unemployed_students_df)

employed_students_percentage = (total_employed_students / total_students) * 100
unemployed_students_percentage = (total_unemployed_students / total_students) * 100
students_percentage = (total_students / total_rows) * 100

print("Persentage of students (considering the whole train set):", round(students_percentage, 2), "%")
print("Percentage of employed students (considering total students):", round(employed_students_percentage, 2), "%")
print("Percentage of unemployed students (considering total students):", round(unemployed_students_percentage, 2), "%")

Persentage of students (considering the whole train set): 19.83 %
Percentage of employed students (considering total students): 0.12 %
Percentage of unemployed students (considering total students): 99.88 %

In [74]:
#total percentages
print("Persentage of students (considering the whole train set):", round(students_percentage, 2), "%")
print("\tOf which employed:", round((total_employed_students / total_rows) * 100, 2), "%")
print("\tOf which UNemployed:", round((total_unemployed_students / total_rows) * 100, 2), "%\n")

print("Persentage of workers (considering the whole train set):", round(workers_percentage, 2), "%")
print("\tOf which employed:", round((total_employed / total_rows) * 100, 2), "%")
print("\tOf which UNemployed:", round((total_unemployed / total_rows) * 100, 2), "%\n")

Persentage of students (considering the whole train set): 19.83 %
	Of which employed: 0.02 %
	Of which UNemployed: 19.81 %

Persentage of workers (considering the whole train set): 80.17 %
	Of which employed: 73.94 %
	Of which UNemployed: 6.23 %

### How is depression affecting those groups?

In [75]:
#workers
workers_with_depression = len(workers_df[workers_df['Depression'] == 1])
workers_without_depression = total_workers - workers_with_depression

workers_with_depression = workers_with_depression / total_workers * 100
workers_without_depression = workers_without_depression / total_workers * 100

employed_with_depression = len(employed_df[employed_df['Depression'] == 1])
employed_without_depression = total_employed - employed_with_depression

employed_with_depression = employed_with_depression / total_employed * 100
employed_without_depression = employed_without_depression / total_employed * 100

unemployed_with_depression = len(unemployed_df[unemployed_df['Depression'] == 1])
unemployed_without_depression = total_unemployed - unemployed_with_depression

unemployed_with_depression = unemployed_with_depression / total_unemployed * 100
unemployed_without_depression = unemployed_without_depression / total_unemployed * 100

print("Workers: \n")
print("Percentage of workers with depression:", round(workers_with_depression, 2), "%")
print("Percentage of workers without depression:", round(workers_without_depression, 2), "%")
print("Percentage of employed workers with depression:", round(employed_with_depression, 2), "%")
print("Percentage of employed workers without depression:", round(employed_without_depression, 2), "%")
print("Percentage of unemployed workers with depression:", round(unemployed_with_depression, 2), "%")
print("Percentage of unemployed workers without depression:", round(unemployed_without_depression, 2), "%")
print("\n\n")

#students
students_with_depression = len(students_df[students_df['Depression'] == 1])
students_without_depression = total_students - students_with_depression

students_with_depression = students_with_depression / total_students * 100
students_without_depression = students_without_depression / total_students * 100

employed_students_with_depression = len(employed_students_df[employed_students_df['Depression'] == 1])
employed_students_withouth_depression = total_employed_students - employed_students_with_depression

employed_students_with_depression = employed_students_with_depression / total_employed_students * 100
employed_students_withouth_depression = employed_students_withouth_depression / total_employed_students * 100

unemployed_students_with_depression = len(unemployed_students_df[unemployed_students_df['Depression'] == 1])
unemployed_students_without_depression = total_unemployed_students - unemployed_students_with_depression

unemployed_students_with_depression = unemployed_students_with_depression / total_unemployed_students * 100
unemployed_students_without_depression = unemployed_students_without_depression / total_unemployed_students * 100

print("Students: \n")
print("Percentage of students with depression:", round(students_with_depression, 2), "%")
print("Percentage of students without depression:", round(students_without_depression, 2), "%")
print("Percentage of employed students with depression:", round(employed_students_with_depression, 2), "%")
print("Percentage of employed students without depression:", round(employed_students_withouth_depression, 2), "%")
print("Percentage of unemployed students with depression:", round(unemployed_students_with_depression, 2), "%")
print("Percentage of unemployed students without depression:", round(unemployed_students_without_depression, 2), "%")

Workers:

Percentage of workers with depression: 8.18 %
Percentage of workers without depression: 91.82 %
Percentage of employed workers with depression: 5.71 %
Percentage of employed workers without depression: 94.29 %
Percentage of unemployed workers with depression: 37.51 %
Percentage of unemployed workers without depression: 62.49 %



Students:

Percentage of students with depression: 58.55 %
Percentage of students without depression: 41.45 %
Percentage of employed students with depression: 82.35 %
Percentage of employed students without depression: 17.65 %
Percentage of unemployed students with depression: 58.52 %
Percentage of unemployed students without depression: 41.48 %

### Unique values

In [76]:
for column in train_dataframe.columns:
    if column=='id':
        continue
    
    unique_values = train_dataframe[column].unique()
    unique_count = len(unique_values)
    
    nan_count = train_dataframe[column].isna().sum()
    
    print(f"Column '{column}' has {unique_count} unique values (including NaN if present).")
    print(f"Number of NaN values: {nan_count}")
    
    sorted_unique_values = sorted(map(str, unique_values))
    print("\nSorted unique values:")
    print(sorted_unique_values)
    
    print("\nCounts of each unique value:")
    value_counts = train_dataframe[column].value_counts(dropna=False)
    for value, count in value_counts.items():
        print(f"{value}: {count}")
    
    print("\n")

Column 'Name' has 422 unique values (including NaN if present).
Number of NaN values: 0

Sorted unique values:
['18', 'A.Ed', 'Aadhya', 'Aahana', 'Aakash', 'Aam', 'Aan', 'Aanchal', 'Aani', 'Aanket', 'Aanya', 'Aaradhya', 'Aarand', 'Aarani', 'Aaransh', 'Aaranya', 'Aarash', 'Aarat', 'Aarav', 'Aariket', 'Aariv', 'Aarla', 'Aarohi', 'Aarsh', 'Aarsush', 'Aarti', 'Aarun', 'Aarush', 'Aarvi', 'Aarya', 'Aavya', 'Abarav', 'Abhinav', 'Abhishek', 'Abishma', 'Adachi', 'Aditi', 'Aditya', 'Adiya', 'Advait', 'Aieter', 'Aikash', 'Airav', 'Aisha', 'Aishwarya', 'Aiya', 'Amit', 'Anahk', 'Anakash', 'Anand', 'Anar', 'Anariv', 'Anarush', 'Anaya', 'Anh', 'Anhil', 'Ani', 'Anika', 'Aniket', 'Anil', 'Anirudh', 'Anish', 'Anisha', 'Anishi', 'Aniv', 'Anjali', 'Anjun', 'Anohi', 'Ansh', 'Anupal', 'Anushka', 'Anvi', 'Anya', 'Aohi', 'Apoorva', 'Arav', 'Ariti', 'Arjun', 'Armaan', 'Arnar', 'Arnav', 'Arsha', 'Arvik', 'Arya', 'Aryan', 'Asha', 'Atharv', 'Avni', 'Ayaan', 'Ayansh', 'Ayash', 'Ayhan', 'Ayoub', 'Ayush', 'Ayut', 'Ayya', 'BE', 'Barkha', 'Bhavesh', 'Bhavna', 'Charvi', 'Chhavi', 'Chirag', 'Chrinda', 'Damini', 'Darsh', 'Deepak', 'Dev', 'Dhruv', 'Divya', 'Diya', 'Eikram', 'Eirini', 'Eisha', 'Esha', 'Eshita', 'Ewesh', 'Gagan', 'Garima', 'Gaurav', 'Gauri', 'Gavrachi', 'Golkut', 'Harini', 'Harsh', 'Harsha', 'Harshand', 'Harshaun', 'Harshav', 'Harshil', 'Harshir', 'Haurav', 'Himani', 'Hra', 'Hreya', 'Hrithik', 'Ijra', 'Ila', 'Ira', 'Irit', 'Isha', 'Ishaam', 'Ishaan', 'Ishaani', 'Ishaansh', 'Ishaesh', 'Ishan', 'Ishita', 'Ishlok', 'Ishma', 'Ishwar', 'Ivaan', 'Jai', 'Jaish', 'Janvi', 'Jasmine', 'Jathesh', 'Jhaan', 'Jhanvi', 'Jhav', 'Jiram', 'Jiya', 'Jush', 'K. Kavya', 'K.Pharm', 'Kabir', 'Kalyan', 'Kani', 'Kanika', 'Kanisha', 'Karishma', 'Kartal', 'Kartik', 'Kartika', 'Kartikeya', 'Kashi', 'Kashish', 'Kavya', 'Keshav', 'Khushi', 'Kian', 'Kiara', 'Kike', 'Kiran', 'Kolkata', 'Krav', 'Krey', 'Krishna', 'Kriti', 'Kunal', 'Kupa', 'Kush', 'Lakshay', 'Lata', 'Lavanya', 'Leela', 'M.Com', 'M.Tech', 'Mahak', 'Mahav', 'Mahi', 'Mahika', 'Mahir', 'Manan', 'Manik', 'Manjun', 'Manr', 'Manvi', 'Mayank', 'Meera', 'Mihir', 'Mira', 'Mithila', 'Monika', 'Mukund', 'Naina', 'Nakul', 'Nalini', 'Naly', 'Nanchal', 'Nandini', 'Nanya', 'Navya', 'Neha', 'Neil', 'Nhanini', 'Nhanvi', 'Nikhil', 'Niki', 'Nikita', 'Nikya', 'Nirvaan', 'Nisha', 'Nishant', 'Nishi', 'Nishita', 'Niya', 'Noreen', 'Nya', 'Om', 'Palak', 'Pallavi', 'Parha', 'Pari', 'Pariv', 'Parth', 'Parvi', 'Parvik', 'Patna', 'Pihu', 'Plumber', 'Pooja', 'Prachi', 'Pradhya', 'Pranav', 'Prandini', 'Prarav', 'Pratham', 'Pratyush', 'Prayat', 'Prilak', 'Prisha', 'Prishant', 'Prishi', 'Prishti', 'Prvi', 'R.Com', 'Radhika', 'Raghav', 'Raghavendra', 'Raghavik', 'Raghavvi', 'Rahil', 'Rai', 'Rajankot', 'Rajat', 'Rajveer', 'Rajya', 'Ranchal', 'Randik', 'Rani', 'Ranveer', 'Rashi', 'Raunak', 'Researcher', 'Reyansh', 'Rhea', 'Rhesh', 'Rieta', 'Rietal', 'Rietvik', 'Rika', 'Rishi', 'Ritak', 'Ritik', 'Ritika', 'Ritvik', 'Rivaan', 'Riya', 'Rohan', 'Rohik', 'Ronnie', 'Rudegrav', 'Rudra', 'Rudransh', 'Rudrey', 'Rudrithik', 'Rupa', 'Rupadhya', 'Rupai', 'Rupak', 'Rupal', 'Rupar', 'Rupat', 'Rupika', 'Rupil', 'Ryouvik', 'Saanvi', 'Sai', 'Samaira', 'Samar', 'Sanjeev', 'Sanket', 'Sansh', 'Sanya', 'Sara', 'Satyam', 'Saurav', 'Shaina', 'Shanaya', 'Sharth', 'Shashi', 'Shaurya', 'Shir', 'Shiv', 'Shivak', 'Shivam', 'Shivan', 'Shivansh', 'Shivar', 'Shivivaam', 'Shivlok', 'Shivna', 'Shivsh', 'Shivvaan', 'Shivvi', 'Shivwar', 'Shlok', 'Shrey', 'Shreya', 'Shruti', 'Siddh', 'Siddharth', 'Siddhesh', 'Siddhi', 'Siddir', 'Simran', 'Sneha', 'Soham', 'Srinagar', 'Srishti', 'Suhani', 'Tanak', 'Tani', 'Tanisha', 'Tanmay', 'Tanvi', 'Tanya', 'Tara', 'Tarsh', 'Taurav', 'Tejas', 'Thane', 'Tina', 'Tinmay', 'Tohar', 'Trisha', 'Tushar', 'UX/UI Designer', 'Utkarsh', 'Vaanya', 'Vaishnavi', 'Vakash', 'Vani', 'Vanya', 'Varanasi', 'Varun', 'Vasai-Virar', 'Vashi', 'Vavya', 'Veda', 'Vedant', 'Vhaani', 'Vibha', 'Vidha', 'Vidhi', 'Vidra', 'Vidvi', 'Vidya', 'Vihaan', 'Vika', 'Vikram', 'Virar', 'Virat', 'Vita', 'Viv', 'Vivaan', 'Vivan', 'Vivani', 'Vlaan', 'Vohi', 'Vrinda', 'Yamini', 'Yash', 'Yashvi', 'Yogesh', 'Yurav', 'Yuvraj', 'Zahra', 'Zara', 'Zegmay', 'Zoya']

Counts of each unique value:
Rohan: 3178
Aarav: 2336
Rupak: 2176
Aaradhya: 2045
Anvi: 2035
Raghavendra: 1877
Vani: 1657
Tushar: 1596
Ritvik: 1589
Shiv: 1568
Riya: 1548
Rashi: 1547
Raunak: 1524
Anand: 1486
Ishaani: 1477
Ansh: 1423
Vidya: 1408
Ritika: 1313
Anushka: 1279
Sanya: 1272
Aarush: 1266
Aariv: 1254
Abhishek: 1252
Rupal: 1234
Harsha: 1230
Harsh: 1156
Vikram: 1154
Shivam: 1146
Raghav: 1120
Armaan: 1116
Prachi: 1104
Ayaan: 1090
Ivaan: 1090
Siddhesh: 1090
Ira: 1061
Prisha: 1055
Rahil: 1051
Rishi: 1040
Ritik: 1033
Pratham: 1023
Aniket: 1023
Chhavi: 1003
Vibha: 974
Vivan: 963
Aishwarya: 962
Gauri: 959
Nikita: 951
Naina: 946
Veda: 940
Arav: 925
Vidhi: 913
Jiya: 912
Advait: 910
Krishna: 875
Vedant: 872
Ayush: 869
Aditi: 851
Shaurya: 848
Kashish: 845
Gagan: 842
Eshita: 831
Pratyush: 816
Ila: 799
Simran: 790
Aadhya: 787
Shreya: 784
Rudransh: 776
Garima: 769
Yashvi: 767
Anjali: 757
Vihaan: 744
Keshav: 737
Yuvraj: 730
Ishan: 714
Tanisha: 713
Harshil: 712
Sanket: 710
Rajat: 706
Kunal: 700
Nikhil: 690
Kiran: 687
Aanchal: 684
Zara: 681
Shlok: 672
Nandini: 663
Pranav: 655
Mahika: 652
Kavya: 643
Jhanvi: 635
Satyam: 632
Esha: 632
Reyansh: 627
Shrey: 626
Janvi: 611
Anaya: 610
Anirudh: 606
Arnav: 595
Aahana: 593
Pallavi: 586
Aarti: 586
Amit: 583
Ishwar: 574
Utkarsh: 547
Siddharth: 539
Saanvi: 537
Asha: 534
Darsh: 526
Abhinav: 524
Anika: 520
Parth: 518
Aditya: 512
Aarohi: 504
Nishant: 501
Tanya: 501
Rhea: 499
Samar: 498
Chirag: 493
Kriti: 490
Manvi: 486
Pooja: 481
Kian: 481
Kabir: 481
Divya: 481
Hrithik: 475
Shruti: 467
Mahi: 461
Ayansh: 461
Trisha: 458
Kartikeya: 456
Atharv: 438
Monika: 433
Mihir: 433
Shivansh: 419
Tanmay: 418
Arjun: 403
Diya: 391
Yash: 389
Charvi: 387
Sanjeev: 387
Vrinda: 383
Sai: 382
Aryan: 379
Manan: 378
Ishita: 377
Damini: 374
Virat: 374
Bhavesh: 362
Khushi: 356
Ishaan: 355
Nalini: 353
Jai: 343
Neha: 342
Palak: 339
Yogesh: 338
Gaurav: 336
Deepak: 335
Dhruv: 334
Tara: 331
Vivaan: 329
Pari: 319
Lavanya: 315
Aakash: 313
Navya: 311
Siddhi: 310
Leela: 310
Soham: 306
Tanvi: 300
Kartik: 296
Arya: 289
Tina: 285
Vanya: 280
Kush: 274
Isha: 266
Nisha: 264
Samaira: 263
Suhani: 261
Saurav: 258
Apoorva: 252
Yamini: 250
Aarya: 247
Neil: 244
Karishma: 240
Lata: 237
Zoya: 232
Nirvaan: 231
Rudra: 220
Vaishnavi: 217
Om: 216
Mayank: 215
Dev: 210
Vaanya: 209
Nakul: 206
Rajveer: 199
Himani: 196
Barkha: 190
Tejas: 185
Sneha: 180
Bhavna: 167
Ranveer: 162
Rupa: 151
Srishti: 150
Kiara: 138
Kanika: 138
Mira: 137
Mithila: 132
Radhika: 122
Sara: 108
Pihu: 104
Varun: 97
Jasmine: 94
Lakshay: 80
Avni: 71
Shanaya: 65
Mukund: 57
Meera: 51
Harini: 47
Kalyan: 21
Tarsh: 3
Kolkata: 3
Aarash: 3
Rupar: 3
Aam: 2
Shivan: 2
Vashi: 2
Nanya: 2
Aan: 2
Aisha: 2
Rani: 2
Thane: 2
Shivar: 2
Hra: 2
Jhaan: 2
Shivna: 2
Pradhya: 2
Patna: 2
Prishti: 2
Aanya: 2
Shivvi: 2
Kartika: 2
Aarvi: 2
Rupadhya: 2
Anya: 2
Aniv: 2
Siddh: 2
Ishaam: 1
Researcher: 1
Eisha: 1
Anil: 1
Shivsh: 1
Ritak: 1
Rajya: 1
Kike: 1
Adiya: 1
Shir: 1
Aiya: 1
Varanasi: 1
Shivlok: 1
Ayoub: 1
Krey: 1
Rajankot: 1
Jush: 1
Aieter: 1
Rivaan: 1
Aavya: 1
Niki: 1
Nishita: 1
Abarav: 1
Kartal: 1
BE: 1
Naly: 1
Aarat: 1
Prarav: 1
Manik: 1
Prandini: 1
K. Kavya: 1
Harshav: 1
A.Ed: 1
Tohar: 1
Ronnie: 1
M.Tech: 1
Vavya: 1
Nhanvi: 1
Abishma: 1
Manjun: 1
Anupal: 1
Shivwar: 1
Anh: 1
Prishi: 1
Mahir: 1
Prvi: 1
Aarani: 1
Kani: 1
Viv: 1
Anjun: 1
Zegmay: 1
Jathesh: 1
Aohi: 1
Ranchal: 1
Aani: 1
Harshir: 1
Aikash: 1
Ayash: 1
Arvik: 1
Anahk: 1
Shivivaam: 1
Ishma: 1
Aarun: 1
Prilak: 1
Vidra: 1
Rudrey: 1
UX/UI Designer: 1
Ariti: 1
Aariket: 1
Eikram: 1
Shivak: 1
Vlaan: 1
Vohi: 1
Anohi: 1
Eirini: 1
Rupai: 1
Srinagar: 1
Gavrachi: 1
Mahav: 1
Vhaani: 1
Nanchal: 1
Nya: 1
Tinmay: 1
Hreya: 1
Rupika: 1
M.Com: 1
Rietvik: 1
Aanket: 1
Ishaesh: 1
Parvik: 1
Anisha: 1
Virar: 1
Parha: 1
Anakash: 1
Rudegrav: 1
Aaransh: 1
Ayhan: 1
Aaranya: 1
Ayut: 1
Jhav: 1
Plumber: 1
Ayya: 1
Harshand: 1
Vika: 1
Raghavik: 1
Haurav: 1
Rhesh: 1
Shashi: 1
Nishi: 1
Arnar: 1
Kanisha: 1
Nikya: 1
Niya: 1
Aarand: 1
Rudrithik: 1
Krav: 1
Ijra: 1
Noreen: 1
Rika: 1
Randik: 1
Vidvi: 1
Sharth: 1
Rohik: 1
Jiram: 1
Rupat: 1
K.Pharm: 1
Taurav: 1
Prishant: 1
Yurav: 1
Irit: 1
Ryouvik: 1
Airav: 1
Parvi: 1
Vita: 1
Vasai-Virar: 1
Vidha: 1
Kupa: 1
Siddir: 1
Aarsh: 1
Nhanini: 1
Ewesh: 1
Sansh: 1
Anhil: 1
Pariv: 1
Aarsush: 1
Ishaansh: 1
Rupil: 1
Zahra: 1
Anish: 1
Tani: 1
Anarush: 1
Vivani: 1
18: 1
Prayat: 1
Ani: 1
Shaina: 1
Manr: 1
Ishlok: 1
Arsha: 1
Harshaun: 1
Mahak: 1
Adachi: 1
Shivvaan: 1
Jaish: 1
Raghavvi: 1
Chrinda: 1
Anishi: 1
Anariv: 1
Vakash: 1
Rieta: 1
Rai: 1
Rietal: 1
Tanak: 1
Anar: 1
Aarla: 1
R.Com: 1
Golkut: 1
Kashi: 1


Column 'Gender' has 2 unique values (including NaN if present).
Number of NaN values: 0

Sorted unique values:
['Female', 'Male']

Counts of each unique value:
Male: 77464
Female: 63236


Column 'Age' has 43 unique values (including NaN if present).
Number of NaN values: 0

Sorted unique values:
['18.0', '19.0', '20.0', '21.0', '22.0', '23.0', '24.0', '25.0', '26.0', '27.0', '28.0', '29.0', '30.0', '31.0', '32.0', '33.0', '34.0', '35.0', '36.0', '37.0', '38.0', '39.0', '40.0', '41.0', '42.0', '43.0', '44.0', '45.0', '46.0', '47.0', '48.0', '49.0', '50.0', '51.0', '52.0', '53.0', '54.0', '55.0', '56.0', '57.0', '58.0', '59.0', '60.0']

Counts of each unique value:
56.0: 5246
49.0: 5099
38.0: 4564
53.0: 4526
57.0: 4395
47.0: 4199
46.0: 4080
54.0: 3928
51.0: 3927
18.0: 3921
43.0: 3856
59.0: 3781
48.0: 3695
45.0: 3535
20.0: 3515
50.0: 3439
42.0: 3393
24.0: 3355
28.0: 3338
39.0: 3262
44.0: 3217
33.0: 3140
41.0: 3140
29.0: 3097
40.0: 3094
58.0: 2932
25.0: 2931
23.0: 2900
55.0: 2846
35.0: 2834
21.0: 2742
37.0: 2724
36.0: 2703
19.0: 2634
27.0: 2613
52.0: 2589
34.0: 2578
31.0: 2560
60.0: 2501
26.0: 2108
22.0: 2066
30.0: 1912
32.0: 1785


Column 'City' has 98 unique values (including NaN if present).
Number of NaN values: 0

Sorted unique values:
['3.0', 'Aaradhya', 'Aditya', 'Agra', 'Ahmedabad', 'Aishwarya', 'Anvi', 'Armaan', 'Atharv', 'Ayansh', 'Ayush', 'Bangalore', 'Bhavna', 'Bhopal', 'Chennai', 'Chhavi', 'City', 'Delhi', 'Dhruv', 'Faridabad', 'Galesabad', 'Gaurav', 'Ghaziabad', 'Gurgaon', 'Harsh', 'Harsha', 'Hyderabad', 'Indore', 'Ishanabad', 'Ishkarsh', 'Ithal', 'Itheg', 'Ivaan', 'Jaipur', 'Jhanvi', 'Kagan', 'Kalyan', 'Kanpur', 'Kashish', 'Kashk', 'Keshav', 'Khaziabad', 'Khushi', 'Kibara', 'Kolkata', 'Krinda', 'Krishna', 'Less Delhi', 'Less than 5 Kalyan', 'Lucknow', 'Ludhiana', 'M.Com', 'M.Tech', 'MCA', 'ME', 'MSc', 'Mahi', 'Malyansh', 'Meerut', 'Mihir', 'Mira', 'Molkata', 'Moreadhyay', 'Morena', 'Mumbai', 'Nagpur', 'Nalini', 'Nalyan', 'Nandini', 'Nashik', 'No', 'Parth', 'Patna', 'Plata', 'Pooja', 'Pratyush', 'Pune', 'Raghavendra', 'Rajkot', 'Rashi', 'Researcher', 'Reyansh', 'Saanvi', 'Shrey', 'Srinagar', 'Surat', 'Thane', 'Tolkata', 'Tushar', 'Unirar', 'Vaanya', 'Vadodara', 'Vaishnavi', 'Varanasi', 'Vasai-Virar', 'Vidhi', 'Vidya', 'Visakhapatnam']

Counts of each unique value:
Kalyan: 6591
Patna: 5924
Vasai-Virar: 5765
Kolkata: 5689
Ahmedabad: 5613
Meerut: 5528
Ludhiana: 5226
Pune: 5210
Rajkot: 5207
Visakhapatnam: 5176
Srinagar: 5074
Mumbai: 4966
Indore: 4872
Agra: 4684
Surat: 4636
Varanasi: 4606
Vadodara: 4568
Hyderabad: 4496
Kanpur: 4398
Jaipur: 4328
Thane: 4289
Lucknow: 4280
Nagpur: 4209
Bangalore: 4123
Chennai: 4044
Ghaziabad: 3620
Delhi: 3593
Bhopal: 3475
Faridabad: 3268
Nashik: 3144
Mihir: 7
Nandini: 4
Harsha: 3
Vidya: 3
Bhavna: 3
Saanvi: 3
Pratyush: 3
Mahi: 3
City: 3
Keshav: 2
Ayush: 2
MCA: 2
Nalini: 2
M.Com: 2
Molkata: 2
Atharv: 2
Ishanabad: 1
Morena: 1
Itheg: 1
Mira: 1
Parth: 1
Ishkarsh: 1
Kagan: 1
Ithal: 1
Shrey: 1
Anvi: 1
M.Tech: 1
Rashi: 1
Kibara: 1
Aishwarya: 1
Less than 5 Kalyan: 1
3.0: 1
Aaradhya: 1
Researcher: 1
Dhruv: 1
Malyansh: 1
Khaziabad: 1
Plata: 1
Krinda: 1
Chhavi: 1
Krishna: 1
Ivaan: 1
Ayansh: 1
Nalyan: 1
MSc: 1
Kashish: 1
Galesabad: 1
Unirar: 1
ME: 1
Armaan: 1
Vaishnavi: 1
Vidhi: 1
Kashk: 1
Harsh: 1
Jhanvi: 1
Tushar: 1
Pooja: 1
Tolkata: 1
Reyansh: 1
Aditya: 1
Gaurav: 1
Vaanya: 1
Moreadhyay: 1
Gurgaon: 1
Khushi: 1
No: 1
Raghavendra: 1
Less Delhi: 1


Column 'Working Professional or Student' has 2 unique values (including NaN if present).
Number of NaN values: 0

Sorted unique values:
['Student', 'Working Professional']

Counts of each unique value:
Working Professional: 112799
Student: 27901


Column 'Profession' has 65 unique values (including NaN if present).
Number of NaN values: 36630

Sorted unique values:
['Academic', 'Accountant', 'Analyst', 'Architect', 'B.Com', 'B.Ed', 'BBA', 'BCA', 'BE', 'Business Analyst', 'Chef', 'Chemist', 'City Manager', 'Civil Engineer', 'Consultant', 'Content Writer', 'Customer Support', 'Data Scientist', 'Dev', 'Digital Marketer', 'Doctor', 'Educational Consultant', 'Electrician', 'Entrepreneur', 'Family Consultant', 'FamilyVirar', 'Finanancial Analyst', 'Financial Analyst', 'Graphic Designer', 'HR Manager', 'Investment Banker', 'Judge', 'LLM', 'Lawyer', 'M.Ed', 'MBA', 'MBBS', 'Manager', 'Marketing Manager', 'Mechanical Engineer', 'Medical Doctor', 'Moderate', 'Nagpur', 'Patna', 'PhD', 'Pharmacist', 'Pilot', 'Plumber', 'Pranav', 'Profession', 'Research Analyst', 'Researcher', 'Sales Executive', 'Software Engineer', 'Student', 'Teacher', 'Travel Consultant', 'UX/UI Designer', 'Unemployed', 'Unveil', 'Visakhapatnam', 'Working Professional', 'Yogesh', 'Yuvraj', 'nan']

Counts of each unique value:
nan: 36630
Teacher: 24906
Content Writer: 7814
Architect: 4370
Consultant: 4229
HR Manager: 4022
Pharmacist: 3893
Doctor: 3255
Business Analyst: 3161
Entrepreneur: 2968
Chemist: 2967
Chef: 2862
Educational Consultant: 2852
Data Scientist: 2390
Researcher: 2328
Lawyer: 2212
Customer Support: 2055
Marketing Manager: 1976
Pilot: 1913
Travel Consultant: 1860
Plumber: 1748
Sales Executive: 1739
Manager: 1737
Judge: 1712
Electrician: 1582
Financial Analyst: 1574
Software Engineer: 1510
Civil Engineer: 1470
UX/UI Designer: 1452
Digital Marketer: 1372
Accountant: 1339
Finanancial Analyst: 1329
Mechanical Engineer: 1177
Graphic Designer: 1163
Research Analyst: 690
Investment Banker: 393
Student: 7
Academic: 5
BCA: 3
Yogesh: 3
Profession: 3
Unemployed: 3
MBA: 2
LLM: 2
PhD: 2
BE: 1
Nagpur: 1
B.Ed: 1
Patna: 1
BBA: 1
Family Consultant: 1
Working Professional: 1
Dev: 1
Moderate: 1
Pranav: 1
City Manager: 1
FamilyVirar: 1
Medical Doctor: 1
B.Com: 1
M.Ed: 1
Yuvraj: 1
Unveil: 1
Analyst: 1
MBBS: 1
Visakhapatnam: 1


Column 'Academic Pressure' has 6 unique values (including NaN if present).
Number of NaN values: 112803

Sorted unique values:
['1.0', '2.0', '3.0', '4.0', '5.0', 'nan']

Counts of each unique value:
nan: 112803
3.0: 7463
5.0: 6296
4.0: 5158
1.0: 4801
2.0: 4179


Column 'Work Pressure' has 6 unique values (including NaN if present).
Number of NaN values: 27918

Sorted unique values:
['1.0', '2.0', '3.0', '4.0', '5.0', 'nan']

Counts of each unique value:
nan: 27918
2.0: 24373
4.0: 22512
5.0: 22436
3.0: 21899
1.0: 21562


Column 'CGPA' has 332 unique values (including NaN if present).
Number of NaN values: 112802

Sorted unique values:
['10.0', '5.03', '5.06', '5.08', '5.09', '5.1', '5.11', '5.12', '5.14', '5.16', '5.17', '5.24', '5.25', '5.26', '5.27', '5.3', '5.32', '5.35', '5.37', '5.38', '5.39', '5.41', '5.42', '5.44', '5.45', '5.46', '5.47', '5.48', '5.51', '5.52', '5.55', '5.56', '5.57', '5.58', '5.59', '5.6', '5.61', '5.64', '5.65', '5.66', '5.67', '5.68', '5.69', '5.7', '5.71', '5.72', '5.74', '5.75', '5.76', '5.77', '5.78', '5.79', '5.8', '5.81', '5.82', '5.83', '5.84', '5.85', '5.86', '5.87', '5.88', '5.89', '5.9', '5.91', '5.97', '5.98', '5.99', '6.0', '6.02', '6.03', '6.04', '6.05', '6.06', '6.08', '6.09', '6.1', '6.16', '6.17', '6.19', '6.21', '6.23', '6.24', '6.25', '6.26', '6.27', '6.28', '6.29', '6.32', '6.33', '6.35', '6.36', '6.37', '6.38', '6.39', '6.41', '6.42', '6.44', '6.46', '6.47', '6.5', '6.51', '6.52', '6.53', '6.56', '6.59', '6.61', '6.63', '6.64', '6.65', '6.69', '6.7', '6.73', '6.74', '6.75', '6.76', '6.77', '6.78', '6.79', '6.81', '6.82', '6.83', '6.84', '6.85', '6.86', '6.88', '6.89', '6.91', '6.92', '6.95', '6.98', '6.99', '7.0', '7.02', '7.03', '7.04', '7.06', '7.0625', '7.07', '7.08', '7.09', '7.1', '7.11', '7.12', '7.13', '7.14', '7.15', '7.17', '7.21', '7.22', '7.23', '7.24', '7.25', '7.26', '7.27', '7.28', '7.3', '7.32', '7.34', '7.35', '7.37', '7.38', '7.39', '7.42', '7.43', '7.45', '7.46', '7.47', '7.48', '7.49', '7.5', '7.51', '7.52', '7.53', '7.6', '7.61', '7.64', '7.65', '7.68', '7.7', '7.71', '7.72', '7.74', '7.75', '7.77', '7.78', '7.79', '7.8', '7.82', '7.83', '7.85', '7.87', '7.88', '7.9', '7.91', '7.92', '7.94', '7.99', '8.0', '8.01', '8.02', '8.03', '8.04', '8.07', '8.08', '8.09', '8.1', '8.11', '8.13', '8.14', '8.16', '8.17', '8.19', '8.21', '8.23', '8.24', '8.25', '8.26', '8.27', '8.28', '8.29', '8.32', '8.35', '8.37', '8.38', '8.39', '8.4', '8.42', '8.43', '8.44', '8.46', '8.47', '8.49', '8.5', '8.52', '8.53', '8.54', '8.55', '8.56', '8.58', '8.59', '8.61', '8.62', '8.63', '8.64', '8.65', '8.69', '8.7', '8.71', '8.73', '8.74', '8.75', '8.77', '8.78', '8.79', '8.81', '8.83', '8.85', '8.88', '8.89', '8.9', '8.91', '8.92', '8.93', '8.94', '8.95', '8.96', '8.97', '8.98', '9.01', '9.02', '9.03', '9.04', '9.05', '9.06', '9.1', '9.11', '9.12', '9.13', '9.16', '9.17', '9.19', '9.21', '9.24', '9.25', '9.26', '9.29', '9.31', '9.33', '9.34', '9.36', '9.37', '9.39', '9.4', '9.41', '9.42', '9.43', '9.44', '9.46', '9.47', '9.49', '9.5', '9.54', '9.56', '9.59', '9.6', '9.63', '9.66', '9.67', '9.69', '9.7', '9.71', '9.72', '9.74', '9.78', '9.79', '9.82', '9.84', '9.85', '9.86', '9.87', '9.88', '9.89', '9.9', '9.91', '9.92', '9.93', '9.94', '9.95', '9.96', '9.97', '9.98', 'nan']

Counts of each unique value:
nan: 112802
8.04: 822
9.96: 425
5.74: 410
8.95: 371
9.21: 343
7.25: 339
7.09: 320
7.88: 318
9.44: 317
8.91: 276
9.93: 274
7.77: 269
8.74: 267
7.1: 252
9.72: 251
5.64: 247
9.39: 243
6.99: 242
6.37: 238
7.53: 234
6.78: 232
9.24: 224
8.59: 220
5.85: 216
6.16: 215
5.16: 209
8.58: 209
7.94: 208
5.88: 207
8.17: 198
5.32: 197
8.24: 195
5.56: 178
8.14: 176
9.56: 176
6.1: 169
5.12: 167
8.9: 164
5.57: 164
5.37: 159
9.71: 157
6.0: 154
9.41: 153
6.83: 153
6.89: 153
9.89: 151
9.63: 150
6.25: 147
5.82: 144
7.04: 143
6.75: 143
8.73: 142
8.96: 142
9.6: 142
9.79: 141
9.86: 141
9.97: 139
5.76: 139
9.67: 136
7.47: 135
8.62: 135
8.54: 135
9.95: 133
9.74: 129
8.7: 128
7.22: 127
9.84: 125
6.21: 125
8.44: 125
5.75: 124
5.86: 123
9.91: 123
9.54: 122
6.27: 121
7.52: 120
8.09: 120
5.27: 118
7.48: 117
9.88: 117
5.79: 116
6.38: 115
7.85: 115
8.52: 115
6.02: 113
5.11: 112
5.99: 112
7.38: 112
7.51: 112
7.8: 112
6.03: 111
6.47: 111
7.15: 110
5.66: 110
8.5: 110
9.05: 109
9.11: 109
5.42: 108
7.92: 106
7.64: 105
9.19: 104
6.17: 103
7.21: 103
7.83: 99
5.7: 98
7.13: 97
5.58: 97
6.08: 96
7.08: 96
5.6: 95
8.46: 95
5.08: 95
7.5: 94
6.51: 93
8.69: 93
8.08: 92
7.72: 92
7.7: 92
8.21: 92
8.81: 90
6.41: 87
8.28: 87
7.28: 87
9.5: 87
8.35: 85
7.02: 85
9.04: 84
5.59: 83
7.39: 78
5.51: 76
5.46: 72
5.87: 71
9.94: 71
5.67: 69
8.92: 68
8.0: 67
8.97: 66
5.1: 66
9.87: 63
7.37: 61
8.25: 61
6.88: 60
9.92: 60
8.53: 60
9.98: 59
7.24: 59
8.78: 58
6.86: 58
7.03: 58
10.0: 58
8.93: 58
8.47: 57
9.42: 56
7.91: 56
5.89: 55
8.79: 55
6.42: 54
6.29: 54
7.68: 54
7.74: 54
6.61: 53
8.89: 52
6.39: 52
5.68: 52
5.77: 51
9.66: 51
6.81: 51
9.37: 51
7.3: 51
8.13: 51
5.61: 50
7.82: 50
9.43: 50
5.83: 50
9.1: 50
8.39: 50
7.9: 49
6.04: 49
7.75: 49
5.65: 49
9.69: 48
6.79: 48
9.33: 48
8.27: 48
8.63: 47
8.23: 47
5.41: 47
8.56: 47
6.74: 46
9.13: 46
7.46: 46
6.65: 46
5.81: 45
5.38: 45
6.92: 45
6.53: 45
6.36: 45
6.82: 43
5.84: 43
6.69: 43
9.46: 43
5.26: 42
8.61: 42
5.71: 42
5.48: 42
6.28: 42
8.88: 42
7.71: 42
7.49: 41
5.47: 41
7.61: 41
8.83: 41
8.98: 41
8.94: 41
7.27: 41
9.49: 41
6.73: 41
8.03: 40
9.03: 40
8.64: 39
6.63: 39
5.45: 39
8.11: 39
8.77: 39
7.35: 39
9.26: 38
8.71: 38
8.38: 38
9.25: 38
9.34: 38
8.65: 38
9.06: 37
7.14: 37
7.87: 36
7.32: 36
7.11: 36
6.26: 36
6.7: 36

# Data Preprocessing

In [77]:
#replace gender with 0 (female) and 1 (male)
train_dataframe['Gender'] = train_dataframe['Gender'].map({'Female': 0, 'Male': 1})

#replace Working Professional or Student with 0 (student) and 1 (worker)    
train_dataframe['Working Professional or Student'] = train_dataframe['Working Professional or Student'].map({'Working Professional': 1, 'Student': 0})

In [79]:
#add new category for cities
#cities with less than a 1000 frequency on the dataset are mapped to category "other"

frequency = train_dataframe['City'].value_counts()
category_mapping = {category: ('Others' if count < 1000 else category) for category, count in frequency.items()}
train_dataframe['City'] = train_dataframe['City'].map(category_mapping)

In [80]:
#add other category for professions
#professions with less than a 1000 frequency on the dataset are mapped to category "other"

frequency = train_dataframe['Profession'].value_counts()
category_mapping = {category: ('Others' if count < 300 else category) for category, count in frequency.items()}
train_dataframe['Profession'] = train_dataframe['Profession'].map(category_mapping)

In [81]:
#sleep duration

#turn 
# Less than 5 hours: 38784
# 7-8 hours: 36969
# More than 8 hours: 32726
# 5-6 hours: 32142

#into

# Less than 5 hours
# 5-8 hours
# More than 8 hours

# Define the mapping dictionary
mapping = {
    '3-4 hours': 'Less than 5 hours',
    '4-5 hours': 'Less than 5 hours',
    '4-6 hours': 'Less than 5 hours',
    '2-3 hours': 'Less than 5 hours',
    'Less than 5 hours': 'Less than 5 hours',
    '5-6 hours': '5-8 hours',
    '6-7 hours': '5-8 hours',
    '7-8 hours': '5-8 hours',
    'More than 8 hours': 'More than 8 hours'
}

# Apply the mapping
train_dataframe['Sleep Duration'] = train_dataframe['Sleep Duration'].map(mapping)

# Map all remaining rows (NaN after mapping) to 'Less than 5 hours'
train_dataframe['Sleep Duration'] = train_dataframe['Sleep Duration'].fillna('Less than 5 hours')

In [82]:
#mapping diatary habits less than 1000 to Unhealthy

frequency = train_dataframe['Dietary Habits'].value_counts()
category_mapping = {category: ('Unhealthy' if count < 1000 else category) for category, count in frequency.items()}
train_dataframe['Dietary Habits'] = train_dataframe['Dietary Habits'].map(category_mapping)

In [83]:
#degree

frequency = train_dataframe['Degree'].value_counts()
category_mapping = {category: ('Others' if count < 1000 else category) for category, count in frequency.items()}
train_dataframe['Degree'] = train_dataframe['Degree'].map(category_mapping)

In [84]:
#mapping suicidal thoughths to 0 (no) and 1 (yes)

train_dataframe['Have you ever had suicidal thoughts ?'] = train_dataframe['Have you ever had suicidal thoughts ?'].map({'No': 0, 'Yes': 1})
train_dataframe['Family History of Mental Illness'] = train_dataframe['Family History of Mental Illness'].map({'No': 0, 'Yes': 1})

In [85]:
#if 'Working Professional or Student' is 'Student' (0) and profession is NaN, replace it with 'Student'
train_dataframe.loc[
    (train_dataframe['Working Professional or Student'] == 0) & (train_dataframe['Profession'].isna()), 
    'Profession'
] = 'Student'

#fill NaN professions with 'Unknown'
train_dataframe['Profession'] = train_dataframe['Profession'].fillna('Unknown')

In [86]:
#replacing last NaN values
#NaN degree is replaced with 'Others'
train_dataframe['Degree'] = train_dataframe['Degree'].fillna('Others')

#NaN Financial Stress is replaced with column mean
train_dataframe['Financial Stress'] = train_dataframe['Financial Stress'].fillna(int(train_dataframe['Financial Stress'].mean()))

#NaN Dietary Habits is replaced with 'Moderate'
train_dataframe['Dietary Habits'] = train_dataframe['Dietary Habits'].fillna('Moderate')

### Normalizing in [0,1]

In [94]:
from sklearn.preprocessing import MinMaxScaler

numeric_columns = train_dataframe.select_dtypes(include=['int', 'float', 'int64', 'float64']).columns


scaler = MinMaxScaler()
train_dataframe[numeric_columns] = scaler.fit_transform(train_dataframe[numeric_columns])

In [95]:
cleaned_dataframe = train_dataframe.copy()

In [97]:
cleaned_dataframe

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0.000000,Aaradhya,0.0,0.738095,Ludhiana,1.0,Chef,NaN,1.00,NaN,NaN,0.25,More than 8 hours,Healthy,BHM,0.0,0.083333,0.25,0.0,0.0
1,0.000007,Vivan,1.0,0.190476,Varanasi,1.0,Teacher,NaN,0.75,NaN,NaN,0.50,Less than 5 hours,Unhealthy,LLB,1.0,0.583333,0.50,0.0,1.0
2,0.000014,Yuvraj,1.0,0.357143,Visakhapatnam,0.0,Student,1.00,NaN,0.792757,0.25,NaN,5-8 hours,Healthy,B.Pharm,1.0,0.250000,0.00,0.0,1.0
3,0.000021,Yuvraj,1.0,0.095238,Mumbai,1.0,Teacher,NaN,1.00,NaN,NaN,0.00,Less than 5 hours,Moderate,BBA,1.0,0.833333,0.00,1.0,1.0
4,0.000028,Rhea,0.0,0.285714,Kanpur,1.0,Business Analyst,NaN,0.00,NaN,NaN,0.00,5-8 hours,Unhealthy,BBA,1.0,0.750000,0.75,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,0.999972,Vidya,0.0,0.000000,Ahmedabad,1.0,Unknown,NaN,1.00,NaN,NaN,0.75,5-8 hours,Unhealthy,Class 12,0.0,0.166667,0.75,1.0,1.0
140696,0.999979,Lata,0.0,0.547619,Hyderabad,1.0,Content Writer,NaN,1.00,NaN,NaN,0.75,5-8 hours,Moderate,B.Tech,1.0,0.500000,1.00,1.0,0.0
140697,0.999986,Aanchal,0.0,0.142857,Kolkata,1.0,Marketing Manager,NaN,0.50,NaN,NaN,0.00,More than 8 hours,Moderate,B.Com,0.0,0.333333,0.75,0.0,0.0
140698,0.999993,Prachi,0.0,0.738095,Srinagar,1.0,Plumber,NaN,1.00,NaN,NaN,0.25,5-8 hours,Moderate,ME,1.0,0.833333,0.00,0.0,0.0
140699,1.000000,Sai,1.0,0.214286,Patna,0.0,Student,0.75,NaN,0.847082,0.00,NaN,Less than 5 hours,Healthy,BCA,1.0,0.166667,0.50,1.0,1.0

In [98]:
#missing elements are not random
#that means that missing elements carry some sort of information
#for example if CGPA is NaN, then it's highly likely that the person is a worker and not a student

#replacing all numerical NaN values with -1
cleaned_dataframe = cleaned_dataframe.fillna(-1)

In [99]:
print(cleaned_dataframe.isnull().sum())

id                                       0
Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

### One Hot Encoding

In [35]:
#one hot encoding for categorical features

categorical_columns = ['City', 'Profession', 'Dietary Habits', 'Degree', 'Sleep Duration']

# Define the ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(drop=None, sparse_output=False), categorical_columns)
    ],
    remainder='passthrough'  # Keep other columns as they are
)

In [30]:
# Apply the transformer to the data
transformed_data = preprocessor.fit_transform(cleaned_dataframe)

# Extract feature names for the encoded columns
encoded_columns = preprocessor.named_transformers_['onehot'].get_feature_names_out(categorical_columns).tolist()

# Convert the transformed data into a DataFrame
transformed_df = pd.DataFrame(transformed_data, columns=encoded_columns + [col for col in cleaned_dataframe.columns if col not in categorical_columns])

columns_order = ['id', 'Name'] + [col for col in transformed_df.columns if col not in ['id', 'Name']]
reordered_df = transformed_df[columns_order]
    
# converting all columns to int except for CGPA
columns_to_convert = [col for col in reordered_df.columns if col not in ['CGPA', 'Name']]
reordered_df[columns_to_convert] = reordered_df[columns_to_convert].astype(int)

In [31]:
# Save the reordered DataFrame to a CSV file
reordered_df.to_csv('transformed_data.csv', index=False)

In [32]:
reordered_df

,id,Name,City_Agra,City_Ahmedabad,City_Bangalore,City_Bhopal,City_Chennai,City_Delhi,City_Faridabad,City_Ghaziabad,...,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,0,0,0,0,0,0,0,0,...,-1,5,-1.0,-1,2,0,1,2,0,0
1,1,Vivan,0,0,0,0,0,0,0,0,...,-1,4,-1.0,-1,3,1,7,3,0,1
2,2,Yuvraj,0,0,0,0,0,0,0,0,...,5,-1,0.792757,2,-1,1,3,1,0,1
3,3,Yuvraj,0,0,0,0,0,0,0,0,...,-1,5,-1.0,-1,1,1,10,1,1,1
4,4,Rhea,0,0,0,0,0,0,0,0,...,-1,1,-1.0,-1,1,1,9,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,0,1,0,0,0,0,0,0,...,-1,5,-1.0,-1,4,0,2,4,1,1
140696,140696,Lata,0,0,0,0,0,0,0,0,...,-1,5,-1.0,-1,4,1,6,5,1,0
140697,140697,Aanchal,0,0,0,0,0,0,0,0,...,-1,3,-1.0,-1,1,0,4,4,0,0
140698,140698,Prachi,0,0,0,0,0,0,0,0,...,-1,5,-1.0,-1,2,1,10,1,0,0
140699,140699,Sai,0,0,0,0,0,0,0,0,...,4,-1,0.847082,1,-1,1,2,3,1,1

### Creating Dataset with NaN values replaced with mean

In [127]:
cleaned_dataframe = train_dataframe.copy()
cleaned_dataframe

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0.000000,Aaradhya,0.0,0.738095,Ludhiana,1.0,Chef,NaN,1.00,NaN,NaN,0.25,More than 8 hours,Healthy,BHM,0.0,0.083333,0.25,0.0,0.0
1,0.000007,Vivan,1.0,0.190476,Varanasi,1.0,Teacher,NaN,0.75,NaN,NaN,0.50,Less than 5 hours,Unhealthy,LLB,1.0,0.583333,0.50,0.0,1.0
2,0.000014,Yuvraj,1.0,0.357143,Visakhapatnam,0.0,Student,1.00,NaN,0.792757,0.25,NaN,5-8 hours,Healthy,B.Pharm,1.0,0.250000,0.00,0.0,1.0
3,0.000021,Yuvraj,1.0,0.095238,Mumbai,1.0,Teacher,NaN,1.00,NaN,NaN,0.00,Less than 5 hours,Moderate,BBA,1.0,0.833333,0.00,1.0,1.0
4,0.000028,Rhea,0.0,0.285714,Kanpur,1.0,Business Analyst,NaN,0.00,NaN,NaN,0.00,5-8 hours,Unhealthy,BBA,1.0,0.750000,0.75,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,0.999972,Vidya,0.0,0.000000,Ahmedabad,1.0,Unknown,NaN,1.00,NaN,NaN,0.75,5-8 hours,Unhealthy,Class 12,0.0,0.166667,0.75,1.0,1.0
140696,0.999979,Lata,0.0,0.547619,Hyderabad,1.0,Content Writer,NaN,1.00,NaN,NaN,0.75,5-8 hours,Moderate,B.Tech,1.0,0.500000,1.00,1.0,0.0
140697,0.999986,Aanchal,0.0,0.142857,Kolkata,1.0,Marketing Manager,NaN,0.50,NaN,NaN,0.00,More than 8 hours,Moderate,B.Com,0.0,0.333333,0.75,0.0,0.0
140698,0.999993,Prachi,0.0,0.738095,Srinagar,1.0,Plumber,NaN,1.00,NaN,NaN,0.25,5-8 hours,Moderate,ME,1.0,0.833333,0.00,0.0,0.0
140699,1.000000,Sai,1.0,0.214286,Patna,0.0,Student,0.75,NaN,0.847082,0.00,NaN,Less than 5 hours,Healthy,BCA,1.0,0.166667,0.50,1.0,1.0

In [128]:
# Convert all 'int' columns to 'float'
int_columns = cleaned_dataframe.select_dtypes(include=['int']).columns
cleaned_dataframe[int_columns] = cleaned_dataframe[int_columns].astype(float)

# Compute the mean and replace NaN only for 'float' columns
float_columns = cleaned_dataframe.select_dtypes(include=['float']).columns
cleaned_dataframe[float_columns] = cleaned_dataframe[float_columns].fillna(cleaned_dataframe[float_columns].mean())

cleaned_dataframe

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0.000000,Aaradhya,0.0,0.738095,Ludhiana,1.0,Chef,0.535568,1.00000,0.528901,0.486235,0.250000,More than 8 hours,Healthy,BHM,0.0,0.083333,0.25,0.0,0.0
1,0.000007,Vivan,1.0,0.190476,Varanasi,1.0,Teacher,0.535568,0.75000,0.528901,0.486235,0.500000,Less than 5 hours,Unhealthy,LLB,1.0,0.583333,0.50,0.0,1.0
2,0.000014,Yuvraj,1.0,0.357143,Visakhapatnam,0.0,Student,1.000000,0.49975,0.792757,0.250000,0.493601,5-8 hours,Healthy,B.Pharm,1.0,0.250000,0.00,0.0,1.0
3,0.000021,Yuvraj,1.0,0.095238,Mumbai,1.0,Teacher,0.535568,1.00000,0.528901,0.486235,0.000000,Less than 5 hours,Moderate,BBA,1.0,0.833333,0.00,1.0,1.0
4,0.000028,Rhea,0.0,0.285714,Kanpur,1.0,Business Analyst,0.535568,0.00000,0.528901,0.486235,0.000000,5-8 hours,Unhealthy,BBA,1.0,0.750000,0.75,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,0.999972,Vidya,0.0,0.000000,Ahmedabad,1.0,Unknown,0.535568,1.00000,0.528901,0.486235,0.750000,5-8 hours,Unhealthy,Class 12,0.0,0.166667,0.75,1.0,1.0
140696,0.999979,Lata,0.0,0.547619,Hyderabad,1.0,Content Writer,0.535568,1.00000,0.528901,0.486235,0.750000,5-8 hours,Moderate,B.Tech,1.0,0.500000,1.00,1.0,0.0
140697,0.999986,Aanchal,0.0,0.142857,Kolkata,1.0,Marketing Manager,0.535568,0.50000,0.528901,0.486235,0.000000,More than 8 hours,Moderate,B.Com,0.0,0.333333,0.75,0.0,0.0
140698,0.999993,Prachi,0.0,0.738095,Srinagar,1.0,Plumber,0.535568,1.00000,0.528901,0.486235,0.250000,5-8 hours,Moderate,ME,1.0,0.833333,0.00,0.0,0.0
140699,1.000000,Sai,1.0,0.214286,Patna,0.0,Student,0.750000,0.49975,0.847082,0.000000,0.493601,Less than 5 hours,Healthy,BCA,1.0,0.166667,0.50,1.0,1.0

In [129]:
mean_filled_dataframe = cleaned_dataframe.copy()

### KNN for filling values

In [36]:
def OH_encoding(cleaned_dataframe):
    categorical_columns = ['City', 'Profession', 'Dietary Habits', 'Degree', 'Sleep Duration']

    preprocessor = ColumnTransformer(
        transformers=[
            ('onehot', OneHotEncoder(drop=None, sparse_output=False), categorical_columns)
        ],
        remainder='passthrough' 
    )

    transformed_data = preprocessor.fit_transform(cleaned_dataframe)
    encoded_columns = preprocessor.named_transformers_['onehot'].get_feature_names_out(categorical_columns).tolist()

    transformed_df = pd.DataFrame(transformed_data, columns=encoded_columns + [col for col in cleaned_dataframe.columns if col not in categorical_columns])

    columns_order = ['id', 'Name'] + [col for col in transformed_df.columns if col not in ['id', 'Name']]
    reordered_df = transformed_df[columns_order]
        
    columns_to_convert = [col for col in reordered_df.columns if col not in ['CGPA', 'Name', 'Academic Pressure', 'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction', 'Financial Stress']]
    reordered_df[columns_to_convert] = reordered_df[columns_to_convert].astype(int)
    
    columns_to_convert = ['Academic Pressure', 'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction', 'Financial Stress']
    reordered_df[columns_to_convert] = reordered_df[columns_to_convert].apply(pd.to_numeric, errors='coerce')

    
    return reordered_df

In [37]:
from sklearn.impute import KNNImputer
import pandas as pd

knn_df = train_dataframe.copy()
knn_df = OH_encoding(knn_df)

In [44]:
excluded_columns = ['id', 'Name', 'Depression']
numeric_columns = knn_df.select_dtypes(include=['float', 'int']).columns.difference(excluded_columns)

# Apply KNNImputer only on numerical columns
imputer = KNNImputer(n_neighbors=5
knn_df[numeric_columns] = imputer.fit_transform(knn_df[numeric_columns])

In [45]:
#print knn_df clomuns that are objects
knn_df.select_dtypes(include=['object']).columns

Index(['Name'], dtype='object')

In [46]:
numeric_columns

Index(['Academic Pressure', 'Age', 'CGPA', 'City_Agra', 'City_Ahmedabad',
       'City_Bangalore', 'City_Bhopal', 'City_Chennai', 'City_Delhi',
       'City_Faridabad',
       ...
       'Profession_Travel Consultant', 'Profession_UX/UI Designer',
       'Profession_Unknown', 'Sleep Duration_5-8 hours',
       'Sleep Duration_Less than 5 hours', 'Sleep Duration_More than 8 hours',
       'Study Satisfaction', 'Work Pressure', 'Work/Study Hours',
       'Working Professional or Student'],
      dtype='object', length=114)

In [47]:
knn_df

,id,Name,City_Agra,City_Ahmedabad,City_Bangalore,City_Bhopal,City_Chennai,City_Delhi,City_Faridabad,City_Ghaziabad,...,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.4,5.0,0.341247,3.6,2.0,0.0,1.0,2,0.0,0
1,1,Vivan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,4.0,0.462374,1.6,3.0,1.0,7.0,3,0.0,1
2,2,Yuvraj,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,4.0,0.792757,2.0,2.0,1.0,3.0,1,0.0,1
3,3,Yuvraj,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,5.0,0.433803,2.0,1.0,1.0,10.0,1,1.0,1
4,4,Rhea,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.6,1.0,0.624950,2.2,1.0,1.0,9.0,4,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,5.0,0.442656,4.4,4.0,0.0,2.0,4,1.0,1
140696,140696,Lata,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.8,5.0,0.467203,3.6,4.0,1.0,6.0,5,1.0,0
140697,140697,Aanchal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,0.512676,3.2,1.0,0.0,4.0,4,0.0,0
140698,140698,Prachi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.2,5.0,0.567404,2.4,2.0,1.0,10.0,1,0.0,0
140699,140699,Sai,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,3.6,0.847082,1.0,2.6,1.0,2.0,3,1.0,1

### One Hot Encoding of these 2 datasets

In [105]:
datasets = {
    "mean_dataset": pd.read_csv('datasets/mean_data.csv'),
    "knn_dataset": pd.read_csv('datasets/knn_data.csv'),
    "missing_dataset": pd.read_csv('datasets/marking_missing_data.csv'),
    "merged_features_dataset": pd.read_csv("datasets\merged_features_data.csv")
}

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [116]:
dataset2 = knn_df
dataset3 = OH_encoding(cleaned_dataframe)

In [118]:
numeric_columns = dataset2.select_dtypes(include=['int', 'float', 'int64', 'float64']).columns

# Apply MinMaxScaler to normalize values in the range [0, 1]
scaler = MinMaxScaler()
dataset2[numeric_columns] = scaler.fit_transform(dataset2[numeric_columns])